/* D3JS lines css */
.line1 {
    fill: none;
    stroke: rgb(31, 119, 180);
    stroke-width: 2;
}
.line2 {
    fill: none;
    stroke: rgb(44, 160, 44);
    stroke-width: 2;
}
.overlay {
    fill: none;
    pointer-events: all;
}

/* Room Color */
.st_room{
    fill: #ADADAD;
}

/* Header */
.navbar-brand{
    color: white !important;
}
.navbar-custom{
    padding-left: 40px !important;
    height: 78px !important;
    background-color: rgb(53, 22, 78) !important;
}
.nav-link{
    margin-left: 15px;

}
.first{
    margin-left: 60px !important;
}
.second{
    margin-left: 10px !important;
    color: white !important;
}
.ml-20{
    margin-left: 30px !important;
}

/* Main page */
.row{
    min-height: 40px;
    line-height: 34px;
    margin-top: 10px;
}